* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    color: #467d47;
}

.content h1 {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: solid 1px #d8c2a3;
    text-align: center;
    width: 100%;
}

.content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #d8c2a3;
    border-radius: 5px;
    text-align: center;
    background-color: #467d47;
    color: #d8c2a3;
    box-sizing: border-box;
}

.book-cover {
    align-content: center;
    padding: 5px;
}

.book-cover img {
    max-width: 100%;
    height: auto;
}

.book a {
    padding: 5px;
    text-decoration: none;
    color: #d8c2a3;
}

@media (max-width: 1024px) {
    .book {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .book {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .book {
        width: 90%;
    }
}