* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    margin-top: 0;
    color: #467d47;
    min-height: 70vh;
}

.content h1 {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: solid 1px #d8c2a3;
    text-align: center;
    width: 100%;
}

.content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
}

.book-item {
    width: 200px;
    padding: 10px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
}