* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #d8c2a3; */
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 350px;
   
}

.content .logo {
    width: auto;
    height: auto;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    
}


.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #467d47;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.login-form input[type="submit"]:hover {
    background-color: #555;
}

