.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    color: #467d47;
}

.content h1 {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: solid 1px #d8c2a3;
    text-align: center;
    width: 100%;
}

.book {
    display: inline-flex;
    padding: 15px;
    margin: 5px 20px;
    color: black;
}

p {
    margin: 3px;
    color: black;
}

.book .book-cover {
    align-content: center;
}

.book .book-details {
    margin: 0 5px;
    padding: 10px;
}

.reviews-container {
    margin: 10px;
    padding: 5px;
    width: 80%;
    color: black;
    border: 1px solid #467d47;
    border-radius: 3px;
}

.review {
    padding: 15px;
    margin: 5px;
    border-bottom: 1px solid #d8c2a3;
}

.review:last-child {
    border-bottom: none;
}

.view-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background-color: #467d47;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.view-btn:hover {
    color: #d8c2a3;
    background-color: #3b653b;
}